:root{
    --zlight-blue: #00549B;
    --zdark-blue: #082B61;
    --zred: #DD284F;
    --zgrey: #595959;
}

#newProject-form, #newProject-form-active{
    width: 1000px;
    position: fixed;
    left: calc(50% - (1000px)/2);;
    z-index: 1;
}
#newProject-form{
    top: -866.3px;
    transition: 300ms;
}
#newProject-form-active{
    top: calc(50% - (866.3px)/2);
    transition: 500ms;
}