.logoLoadoff{
    display: none;
}
.logoLoad{
    position: fixed;
    top: calc(50% - 150px/2);
    left: calc(50% - 150px/2);
    z-index: 2;
    height: 150px;
    width: 150px;
}

#load-bg{
    z-index: 2;
}