@font-face {
    font-family: 'Nexa';
    src: url(../../fonts/Nexa/Nexa-Trial-ExtraBold.ttf);
}

.TitleLogin {
    padding-top: 100px;
    padding-left: 0.3em;
    font-weight: 700;
    font-size: 128px;
    line-height: 195px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    font-family: 'Nexa';
}

.Sub-title {
    padding-bottom: 30px;
    font-family: Titillium Web;
    font-size: 40px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    display: flex;
    color: #FFFFFF;
}

.username {
    margin-bottom: 10px;
}

.senha {
    margin-bottom: 20px;
}

.secondary {
    margin-bottom: 110px;
}

#login-logo{
    width: unset;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    top: 1rem;
    padding-top: 3rem;
    margin-bottom: -6rem;
}
#login-logo img{
    width: 235px;
    height: 200px;
}