:root{
    --zlight-blue: #00549B;
    --zdark-blue: #082B61;
    --zred: #DD284F;
    --zgrey: #595959;
}

#editM-form, #editM-form-active{
    width: 700px;
    position: fixed;
    left: calc(50% - (700px)/2);
    z-index: 1;
}
#editM-form{
    top: -609.71px;
    transition: 300ms;
}
#editM-form-active{
    top: calc(50% - (609.71px)/2);
    transition: 500ms;
}