:root {
    --zlight-blue: #00549b;
    --zdark-blue: #082B61;
    --zred: #DD284F;
    --zgrey: #595959;
}

#footer {
    position: absolute;
    height: 350px;
    width: 100%;
    background-color: #00549b;
}

#footer main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    height: 145px;
}

#footer-text{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    gap: 2rem;
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
}